@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/masks.edges.min.css";

*{
  margin: 0;
}
body{
  cursor: url(./images/core/cursor.svg), auto;
}
*::-webkit-scrollbar {
      display: none;
}

.head{
  background-image: var(--gradient-15); /*Or 30*/
  height:100vh;
}
.logo{
  position:relative;
  background-color:white;
  text-align:center;
  animation: shift 5s var(--ease-in-out-3) alternate infinite;
  border-radius: var(--radius-blob-1);
  height:45vmin;
  aspect-ratio:1/1;
  margin:auto;
  top:50%;
  transform: translate(0, -50%);
  line-height:8vmin;
}
#logoHead::after{
  content: url('./images/home/paw.svg');
}
@keyframes shift {
  0% {border-radius: var(--radius-blob-2)};
  25% {border-radius: var(--radius-blob-5)};
  50% {border-radius: var(--radius-blob-3)};
  75% {border-radius: var(--radius-blob-4)};
  100% {border-radius: var(--radius-blob-1)};
}
.heroText{
   margin-top:0;
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 17vmin;
   background: var(--gradient-23);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   letter-spacing:4px;
   font-variant:small-caps;
   white-space:nowrap;
   font-weight: var(--font-weight-4);
   font-family: var(--font-serif);
}
.heroFrame{
   vertical-align:middle;
}
#underhead{
  font-size: 8vmin;
  display: inline-block;
}
#underhead::before{
  content: '';
  display: inline-block;
  width: 2vmin;
  height: 2vmin;
  background-image: var(--gradient-23);
  border-radius:var(--radius-round);
  vertical-align:middle;
  margin-right:1vmin;
}
#underhead::after{
  content: '';
  display: inline-block;
  width: 2vmin;
  height: 2vmin;
  background-image: var(--gradient-23);
  border-radius:var(--radius-round);
  vertical-align:middle;
  margin-left:1vmin;
}
.navDir{
  position:absolute;
  bottom:5vh;
  text-align:center;
margin:auto;
   background: var(--gradient-23);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   font-variant:small-caps;
   white-space:nowrap;
   font-weight: var(--font-weight-4);
   font-family: var(--font-serif);
   font-size:4vmin;
   width:100%
}

#pinMaster {
  position: relative;
}
#pinContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  scroll-snap-type: y mandatory;
}

.panel {
  height: 100%;
  width: 100%;
  position: absolute;
  scroll-snap-align:center;
}
.one {
  background-image: var(--gradient-2);
}
.two {
  background-image: var(--gradient-5);
  z-index:10000;
}
.three {
  background-image: var(--gradient-4);
  z-index:10000;
}
.four {
  background-image: var(--gradient-1);
  z-index:10000;
}
.sect{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  height:50vh;
  width:50vw;
  min-width:400px;
  min-height:200px;
  background-color: white;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-4);  /* inner-shadow? */
  font-family:var(--font-sans);
}
.holder{
  padding:1em 1.5em;
}
#calendar{
  margin:auto;
  z-index:1;
}

.reviewBlock{
background-color: white;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-4);
  font-family:var(--font-sans);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  margin-bottom:5vh;
  padding:5px;
}
.userIcon{
  height:40px;
  border-radius: var(--radius-round);
  margin:5px;
}
#iconHomeFirst{
  content: url('./images/home/usericon/iconBlue.svg');
  padding: 5px;
  border: 5px solid rgb(53, 197, 255);
}
#iconHomeSecond{
  content: url('./images/home/usericon/iconOrange.svg');
  padding: 5px;
  border: 5px solid rgb(255, 87, 52);
}
#iconHomeThird{
  content: url('./images/home/usericon/iconPurple.svg');
  padding: 5px;
  border: 5px solid rgb(139, 53, 255);
}
#subImg{
    height:0;
    position:absolute;
    top:22vh;
    left:27vw;
  }
  #ownerPic{
    background-image:url(./images/home/owner.jpeg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    margin:auto;
    margin-top:4.6vh;
    width:40%;
    min-width:200px;
    aspect-ratio: 1/1;

  }#ownerBox{
    width:50%;
    text-align: center;
  }
  #quote{
    position:relative;
    left:50%;
    top:2.6vh;
    transform: translate(0,-50%);
    font-size:4vmin;
  }
  #signature{
    font-family:'Lucida Handwriting', cursive;
    color:red;
    font-weight:bold;
  }.gallery {
    top:22vh;
  }

  .gallery-cell {
    position:relative;
    height:50vh;
    width:50vw;
    margin:auto;
    background-color: white;
    border-radius: var(--radius-4);
    box-shadow: var(--shadow-4);  /* inner-shadow? */
    font-family:var(--font-sans);
    margin:30px;
  }

  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
  }#displayFirst{
    background-image: url(./images/home/carousel/walk.jpeg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
  }
  #displaySecond{
    background-image: url(./images/home/carousel/walk2.jpeg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
  }
  #displayThird{
    background-image: url(./images/home/carousel/walk3.jpeg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
  }


.navOne{
  background-image: var(--gradient-1);
  border-radius: var(--radius-5);
}
.navWrap:hover .navOne{
   background-image: var(--gradient-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navTwo{
    background-image: var(--gradient-27);
  border-radius: var(--radius-5);
}
.navWrap:hover .navTwo{
   background-image: var(--gradient-27);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navThree{
    background-image: var(--gradient-25);
  border-radius: var(--radius-5);
}

.navWrap:hover .navThree{
   background-image: var(--gradient-25);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navFour{
    background-image: var(--gradient-3);
  border-radius: var(--radius-round);
}

.navWrap:hover .navFour{
   background-image: var(--gradient-3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navFive{
    background-image: var(--gradient-19);
  border-radius: var(--radius-5);
}

.navWrap:hover .navFive{
   background-image: var(--gradient-19);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navH{
  background-image: var(--gradient-14);
border-radius: var(--radius-5);
}
.navWrap:hover .navH{

     background-image: var(--gradient-14);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav{
  background-color:white;
  display:flex;
  flex-grow: 1;
  border-radius: var(--radius-round);

  /*padding:5px; /*if you can't fix it, make it look purposeful!*/
}
.navWrap{
  padding: 10px;
  border-radius: var(--radius-round);
  margin:0 1vmax;
  cursor: pointer;
}
.navWrap:nth-child(1){
  background-image: var(--gradient-1);
}
.navWrap:nth-child(2){
    background-image: var(--gradient-27);
}
.navWrap:nth-child(3){
    background-image: var(--gradient-25);
}
.navWrap:nth-child(4){
    background-image: var(--gradient-19);
}
.navWrap:nth-child(5){
    background-image: var(--gradient-14);
}
.marquee {
    overflow: hidden;
    width:100%;
    display:flex;
    color:white;
    font-weight:bold;
    position: absolute;
    z-index: 8;
    top: 52%;
    transform: translate(0,-52%);
	  visibility: hidden;
}


.marquee__inner {
  display: flex;
  -webkit-animation: navloop 40s linear infinite;
  -moz-animation: navloop 40s linear infinite;
  -o-animation: navloop 40s linear infinite;

}
.marquee .den {
   font-family: var(--font-serif);
   font-size: 7.5vmin;
   padding: 1vw 2vw;
}
.den{
  min-height:1em;
  text-align:center;
}
.marquee:hover .marquee__inner {
    animation-play-state: paused;
}
@-webkit-keyframes navloop {
         0% {
           transform: translateX(0%);
         }

         100% {
           transform: translateX(-100%);
         }
       }

       @-moz-keyframes navloop {
         0% {
           transform: translateX(0%);
         }

         100% {
           transform: translateX(-100%);
         }
       }

       @-o-keyframes navloop {
         0% {
           transform: translateX(0%);
         }

         100% {
           transform: translateX(-100%);
         }
       }

       @keyframes navloop {
         0% {
           transform: translateX(0%);
         }

         100% {
           transform: translateX(-100%);
         }
       }


/* plans */

    #top{
      position:fixed;
      top:0;
      z-index:5;
      height:3vh;
      width:100vw;
    }
    #dropHead{
      position:fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100vw;
      height: 20vh;
      background-image: var(--gradient-15);
      margin-bottom:-20vh;
    }
    #title-dropHead{
      position: relative;
      display: inline-block;
      top: 50%;
      left: 2%;
      transform: translate(0, -50%);
      background: var(--gradient-23);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing:4px;
      font-variant:small-caps;
      white-space:nowrap;
      font-weight: var(--font-weight-4);
      font-family: var(--font-serif);
      font-size: 6vmin;
      margin-left:18vh;
    }
    #title-dropHead-img::before{
      content: url('./images/home/paw.svg');;
      display: block;
      width: 15vh;
      height: 15vh;
      background-color: white;
      border-radius: var(--radius-blob-2);
      animation: shift 5s var(--ease-in-out-3) alternate infinite;
      vertical-align: middle;
      margin: 1vh;
      position: sticky; /* if sticky, allow top: ~1 for shift, -margin to prevent weird flow*/
      z-index:7;
      overflow:visible;
      top:1vh; /* .5 */
      left:.5vh;
      border:5px solid #008443;/*
	margin-bottom: -20vh;*/
    }
    #toggle{
	position:relative;
	z-index:8;
	margin-bottom: -20vh;
    } 	    
    .frame-dropHead{
    }

    #plans-Box{
      position:relative;
      z-index: 3;
      min-height:125vh;
      padding:5vh 5vw;
      background-image:var(--gradient-24);/*
      margin-bottom: -17vh;*/
    }
#dropHead-wrap{
	position:relative;
	z-index:3;
	margin-bottom:20vh;
}
    .plans-Package{
      background-color:white;
      overflow-Y: scroll;
      position:relative;
      left:50%;
      transform: translate(-50%);
      width:25vw;
      min-width:400px;
      border-radius:2em;
      margin-bottom: 4em;
        padding-bottom:1.5em;
        margin-top:3em;
    }
    #packageOne{
      box-shadow:7px 7px #9D00FF;
    }
    #packageTwo{
        box-shadow:7px 7px #008443 /*#00FFFF*/;
    }

    #packageThree{
      box-shadow:7px 7px #FF5F1F;
    }
    .packageContent{
  padding:35px 10px 10px 10px;
  text-align:center;
  font-size: var(--font-size-3);
  font-family:var(--font-sans);
  color:rgb(75, 75, 75 );
}
.package-Head{
  padding-top:10px;
  font-size: var(--font-size-5);
  font-weight:bold;
  color:rgb(75, 75, 75 );
}
.package-Title{
  font-size: var(--font-size-4);
  font-weight:bold;
  color:rgb(75, 75, 75 );
}
.contactRec{
  font-size: var(--font-size-3);
  padding:10px;
  border: 3px solid black;
  border-radius: var(--radius-round);
  font-weight: bold;
	transition: 0.5s;
	width: 50%;
	margin: auto;
  color:rgb(75, 75, 75 );
	cursor: pointer;
}
.small{
	font-size: var(--font-size-1);
}
.input{
width:90vw;
padding:10px;
margin:10px;
  background-color: white;
  border-radius: var(--radius-4);
  font-family:var(--font-sans);
}
#contact-PackageOne:hover{
	color:white;
	background-color:#9D00FF;
	border: 3px solid #9D00FF;
	transition: 0.3s;
}
#contact-PackageTwo:hover{
	color:white;
	background-color: #008443;
	border: 3px solid #008443;
	transition: 0.3s;
}
#contact-PackageThree:hover{
	color:white;
	background-color:#FF5F1F;
	border: 3px solid #FF5F1F;
	transition: 0.3s;
}
.modal{
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(71,59,56,0.4);
	transition: 0.5s;
}
.modalContent{
  background-color: white;
  padding: 20px;
  width: 60vw;
  text-align:center;
  box-shadow: var(--shadow-4);
  background-color: white;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-4);  /* inner-shadow? */
  font-family:var(--font-sans);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modalContent button{
	font-weight:bold;
	transition: 0.5s;
	cursor: pointer;
}

#modalBox1  .modalContent{
  	box-shadow:7px 7px #9D00FF;
}
#modalBox1 .modalContent button:hover{

	color:white;
	background-color:#9D00FF;
	border-color: #9D00FF;
	transition: 0.3s;
}

#modalBox2 .modalContent{
	box-shadow:7px 7px #008443;
}
#modalBox2 .modalContent button:hover{
	color:white;
	background-color:#008443;
	border-color: #008443;
	transition: 0.3s;
}

#modalBox3 .modalContent{
      box-shadow:7px 7px #FF5F1F;
}
#modalBox3 .modalContent button:hover{
	color:white;
	background-color:#FF5F1F;
	border-color: #FF5F1F;
	transition: 0.3s;

}



#modalStuff{
  padding:1em;
}
#small{
  font-size: var(--font-size-1);
}.close{
  color: #818181;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: .5s;
  background-color:white;
}
.close:hover, .close:focus{
  color: #70615d;
  text-decoration: none;
  cursor: pointer;
}
.break-Head{
  display:none;
}
@media screen and (min-width: 1650px) and (min-height: 740px){
  .break-Head{
    display:inline;
  }
  #packageOne{
    position:absolute;
                left:15%;
                transform: translate(-15%);
                width:20vw;
  }
  #packageTwo{
    position:absolute;
                left:50%;
                transform:translate(-50%);
                width:20vw;
  }
  #packageThree{
    position:absolute;
                left:85%;
                transform: translate(-85%);
                width:20vw;
  }

}
@media screen and (max-width: 1100px){
  .heroText{
    font-size:12vmin;
  }
  #underhead{
    font-size: 6vmin;
  }
}
@media screen and (min-width: 1020px) and (min-height:780px){
  .reviewBlock{
    position:absolute;
    height:20vh;
    width:20vw;
    margin:auto;
    background-color: white;
    border-radius: var(--radius-4);
    box-shadow: var(--shadow-4);
    font-family:var(--font-sans);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
  }
  #subImg{
      height:25vh;
      position:absolute;
      top:22vh;
      left:27vw;
    }
    #ownerPic{
      margin-top:0;
      margin-left: 0;
      position:absolute;
      top:-2.6vh;
      left:-2.6vw;
      background-image:url(./images/home/owner.jpeg);
      background-position:center;
      background-repeat:no-repeat;
      background-size:cover;
      height:40vh;
      width:15vw;

    }
    #ownerBox{
      width:30%;
      text-align: left;

    }#quote{
      position:relative;
      left:15vw;
      top:5vh;
      font-size:4vmin;
    }
}
@media screen and (max-width: 800px) and (max-height: 1020px){
  .sect{
    overflow-Y:scroll;
  }
}
@media screen and (max-height: 780px){
  .sect{
    overflow-Y:scroll;
  }
}
@media screen and (max-width: 1260px){
#bioE{
overflow-Y: scroll;
	}
	 #ownerPic{
    background-image:url(./images/home/owner.jpeg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    margin:auto;
    margin-top:4.6vh;
    width:40%;
    min-width:200px;
    aspect-ratio: 1/1;
		 position:static;

  }
	#ownerBox{
    width:50%;
    text-align: center;
  }
  #quote{
    position:relative;
    left:50%;
    top:2.6vh;
    transform: translate(0,-50%);
    font-size:4vmin;
  }

}
