@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/masks.edges.min.css";

*{
  margin: 0;
}
body{
  cursor: url(cursor.svg), auto;
}
*::-webkit-scrollbar {
      display: none;
}

.head{
  background-image: var(--gradient-15); /*Or 30*/
  height:100vh;
}
.logo{
  position:relative;
  background-color:white;
  text-align:center;
  animation: shift 5s var(--ease-in-out-3) alternate infinite;
  border-radius: var(--radius-blob-1);
  height:45vmin;
  aspect-ratio:1/1;
  margin:auto;
  top:50%;
  transform: translate(0, -50%);
  line-height:8vmin;
}
#logoHead::after{
  content: url('./paw.svg');
}
@keyframes shift {
  0% {border-radius: var(--radius-blob-2)};
  25% {border-radius: var(--radius-blob-5)};
  50% {border-radius: var(--radius-blob-3)};
  75% {border-radius: var(--radius-blob-4)};
  100% {border-radius: var(--radius-blob-1)};
}
.heroText{
   margin-top:0;
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 17vmin;
   background: var(--gradient-23);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   letter-spacing:4px;
   font-variant:small-caps;
   white-space:nowrap;
   font-weight: var(--font-weight-4);
   font-family: var(--font-serif);
}
.heroFrame{
   vertical-align:middle;
}
#underhead{
  font-size: 8vmin;
  display: inline-block;
}
#underhead::before{
  content: '';
  display: inline-block;
  width: 2vmin;
  height: 2vmin;
  background-image: var(--gradient-23);
  border-radius:var(--radius-round);
  vertical-align:middle;
  margin-right:1vmin;
}
#underhead::after{
  content: '';
  display: inline-block;
  width: 2vmin;
  height: 2vmin;
  background-image: var(--gradient-23);
  border-radius:var(--radius-round);
  vertical-align:middle;
  margin-left:1vmin;
}
.navDir{
  position:absolute;
  bottom:5vh;
  text-align:center;
margin:auto;
   background: var(--gradient-23);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   font-variant:small-caps;
   white-space:nowrap;
   font-weight: var(--font-weight-4);
   font-family: var(--font-serif);
   font-size:4vmin;
   width:100%
}

#pinMaster {
  position: relative;
}
#pinContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  scroll-snap-type: y mandatory;
}

.panel {
  height: 100%;
  width: 100%;
  position: absolute;
  scroll-snap-align:center;
}
.one {
  background-image: var(--gradient-2);
}
.two {
  background-image: var(--gradient-5);
  z-index:10000;
}
.three {
  background-image: var(--gradient-4);
  z-index:10000;
}
.four {
  background-image: var(--gradient-1);
  z-index:10000;
}
.sect{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  height:50vh;
  width:50vw;
  min-width:400px;
  min-height:200px;
  background-color: white;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-4);  /* inner-shadow? */
  font-family:var(--font-sans);
}
.holder{
  padding:1em 1.5em;
}
#calendar{
  margin:auto;
  z-index:1;
}

.reviewBlock{
background-color: white;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-4);
  font-family:var(--font-sans);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  margin-bottom:5vh;
  padding:5px;
}
.userIcon{
  height:40px;
  border-radius: var(--radius-round);
  margin:5px;
}
#iconHomeFirst{
  content: url('./usericon/iconBlue.svg');
  padding: 5px;
  border: 5px solid rgb(53, 197, 255);
}
#iconHomeSecond{
  content: url('./usericon/iconOrange.svg');
  padding: 5px;
  border: 5px solid rgb(255, 87, 52);
}
#iconHomeThird{
  content: url('./usericon/iconPurple.svg');
  padding: 5px;
  border: 5px solid rgb(139, 53, 255);
}
#subImg{
    height:0;
    position:absolute;
    top:22vh;
    left:27vw;
  }
  #ownerPic{
    background-image:url(./owner.jpeg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    margin:auto;
    margin-top:4.6vh;
    width:40%;
    min-width:200px;
    aspect-ratio: 1/1;

  }#ownerBox{
    width:50%;
    text-align: center;
  }
  #quote{
    position:relative;
    left:50%;
    top:2.6vh;
    transform: translate(0,-50%);
    font-size:4vmin;
  }
  #signature{
    font-family:'Lucida Handwriting', cursive;
    color:red;
    font-weight:bold;
  }.gallery {
    top:22vh;
  }

  .gallery-cell {
    position:relative;
    height:50vh;
    width:50vw;
    margin:auto;
    background-color: white;
    border-radius: var(--radius-4);
    box-shadow: var(--shadow-4);  /* inner-shadow? */
    font-family:var(--font-sans);
    margin:30px;
  }

  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
  }#displayFirst{
    background-image: url(./walk.jpeg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
  }
  #displaySecond{
    background-image: url(./walk2.jpeg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
  }
  #displayThird{
    background-image: url(./walk3.jpeg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
  }


.navOne{
  background-image: var(--gradient-1);
  border-radius: var(--radius-5);
}
.navWrap:hover .navOne{
   background-image: var(--gradient-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navTwo{
    background-image: var(--gradient-27);
  border-radius: var(--radius-5);
}
.navWrap:hover .navTwo{
   background-image: var(--gradient-27);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navThree{
    background-image: var(--gradient-25);
  border-radius: var(--radius-5);
}

.navWrap:hover .navThree{
   background-image: var(--gradient-25);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navFour{
    background-image: var(--gradient-3);
  border-radius: var(--radius-round);
}

.navWrap:hover .navFour{
   background-image: var(--gradient-3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navFive{
    background-image: var(--gradient-19);
  border-radius: var(--radius-5);
}

.navWrap:hover .navFive{
   background-image: var(--gradient-19);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navH{
  background-image: var(--gradient-14);
border-radius: var(--radius-5);
}
.navWrap:hover .navH{

     background-image: var(--gradient-14);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav{
  background-color:white;
  display:flex;
  flex-grow: 1;
  border-radius: var(--radius-round);
	
  /*padding:5px; /*if you can't fix it, make it look purposeful!*/
}
.navWrap{
  padding: 10px;
  border-radius: var(--radius-round);
  margin:0 1vmax;
  cursor: pointer;
}
.navWrap:nth-child(1){
  background-image: var(--gradient-1);
}
.navWrap:nth-child(2){
    background-image: var(--gradient-27);
}
.navWrap:nth-child(3){
    background-image: var(--gradient-25);
}
.navWrap:nth-child(4){
    background-image: var(--gradient-19);
}
.navWrap:nth-child(5){
    background-image: var(--gradient-14);
}
.marquee {
    overflow: hidden;
    width:100%;
    display:flex;
    color:white;
    font-weight:bold;
	
    position: absolute;
	z-index: 1;
    top: 50%;
    transform: translate(0,-50%);
	visibility: hidden;
}


.marquee__inner {
  display: flex;
  -webkit-animation: navloop 40s linear infinite;
          -moz-animation: navloop 40s linear infinite;
          -o-animation: navloop 40s linear infinite;
	
		/*
	        top: 50%;
	        transform: translate(0,-50%);
		align-items: center
		*/
}
.marquee .den {
   font-family: var(--font-serif);
      font-size: 7vmin;
   padding: 1vw 2vw;
}
.den{
  min-height:1em;
  text-align:center;
}
.marquee:hover .marquee__inner {
    animation-play-state: paused;
}
@-webkit-keyframes navloop {
         0% {
           transform: translateX(0%);
         }

         100% {
           transform: translateX(-100%);
         }
       }

       @-moz-keyframes navloop {
         0% {
           transform: translateX(0%);
         }

         100% {
           transform: translateX(-100%);
         }
       }

       @-o-keyframes navloop {
         0% {
           transform: translateX(0%);
         }

         100% {
           transform: translateX(-100%);
         }
       }

       @keyframes navloop {
         0% {
           transform: translateX(0%);
         }

         100% {
           transform: translateX(-100%);
         }
       }
@media screen and (max-width: 900px){
  .heroText{
    font-size:12vmin;
  }
  #underhead{
    font-size: 6vmin;
  }
}
@media screen and (min-width: 1020px) and (min-height:780px){
  .reviewBlock{
    position:absolute;
    height:20vh;
    width:20vw;
    margin:auto;
    background-color: white;
    border-radius: var(--radius-4);
    box-shadow: var(--shadow-4);
    font-family:var(--font-sans);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
  }
  #subImg{
      height:25vh;
      position:absolute;
      top:22vh;
      left:27vw;
    }
    #ownerPic{
      margin-top:0;
      margin-left: 0;
      position:absolute;
      top:-2.6vh;
      left:-2.6vw;
      background-image:url(./owner.jpeg);
      background-position:center;
      background-repeat:no-repeat;
      background-size:cover;
      height:40vh;
      width:15vw;

    }
    #ownerBox{
      width:30%;
      text-align: left;

    }#quote{
      position:relative;
      left:15vw;
      top:5vh;
      font-size:4vmin;
    }
}
@media screen and (max-width: 800px) and (max-height: 1020px){
  .sect{
    overflow-Y:scroll;
  }
}
@media screen and (max-height: 780px){
  .sect{
    overflow-Y:scroll;
  }
}
@media screen and (max-width: 1240px){
#bioE{
overflow-Y: scroll;
	}
	 #ownerPic{
    background-image:url(./owner.jpeg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    margin:auto;
    margin-top:4.6vh;
    width:40%;
    min-width:200px;
    aspect-ratio: 1/1;
		 position:static;

  }
	#ownerBox{
    width:50%;
    text-align: center;
  }
  #quote{
    position:relative;
    left:50%;
    top:2.6vh;
    transform: translate(0,-50%);
    font-size:4vmin;
  }
	
}
